.product {
    display: flex;
    text-align: left;
    border-bottom: 1px solid tomato;
    margin-bottom: 10px;
    padding-bottom:10px;
    margin-right: 5px;
    margin-left: 5px;
}
.main-btn{
    background-color:goldenrod;
    border: 1px solid darkgrey;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}